NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
DODO_PAYMENTS_API_KEY=
DODO_PAYMENTS_PRODUCT_ID=
DODO_PAYMENTS_WEBHOOK_KEY=
DODO_PAYMENTS_API_BASE=https://live.dodopayments.com
NEXT_PUBLIC_DATAFAST_WEBSITE_ID=
NEXT_PUBLIC_DATAFAST_DOMAIN=timesquares.lol
RESEND_API_KEY=
RESEND_FROM_EMAIL=Timesquares.lol <outbid@timesquares.lol>
ADMIN_EMAILS=
SUPPORT_EMAIL=
LEGAL_EMAIL=
LEGAL_BUSINESS_NAME=Timesquares.lol
GOVERNING_STATE=
REWARD_EXPIRATION_DAYS=0
REWARDS_TRANSFERABLE=false
